{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">home</a>
    <h1 class="titulo">Lista de Produtos</h1>
    <a class="logout" href="{% url 'logout'%}">Logout</a><br><br><br>
     
        <tr>
        {% for i in produtos %}
            <th class="linha_produto" >{{i.nome_produto}} {{i.descricao_produto}}<a href="{% url 'update_produto' i.id %}"><i class='fas fa-edit'></i></a>
            <a href="{% url 'delete_produto' i.id %}"><i class='far fa-trash-alt'></i></a></th><br>
        {% endfor %}  
        </tr>
       
        

    <a href="{% url 'novo_produto'%}"><button> Novo Produto</button></a>
    
    

</body>
</html>