<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="static/css/estilo.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
</head>
<body>
	<div class="move">
		<div class="login-box">
			<h1>Login</h1>
			<div class="textbox">
				<i class="far fa-user"></i>
				<input type="text" placeholder="Username" name="">
			</div>

			<div class="textbox">
				<i class="fas fa-key"></i>
				<input type="password" placeholder="password" name="">
			</div>
			<input class="btn" type="button" name="" value="Sing in">
		</div>
	</div>	
</body>
</html>